@import "./styles/base.scss";

:root {
  --primary-color: #55310c;
  --fg-color: rgb(233, 22, 22);
  --duration: 2s;
  --easing: cubic-bezier(0.5, 0, 0.5, 1);
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 5vmin;
  background-color: var(--primary-color);
  color: var(--fg-color);
}

a {
  color: blue;
}

h1 {
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  --primary-color: rgb(0, 255, 47);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: var(--primary-color);
  // animation: slide-right var(--duration) var(--easing) infinite;
  margin: 1rem auto;

  /** --- Adding Transitions: For smooth transitioning from one state to another --- */
  transition-property: background-color;
  transition-duration: 2.5s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  /* ---
  &::before {
    --primary-color: rgb(51, 185, 51);
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
  }
  --- */

  &:hover {
    cursor: pointer;
    background-color: blue;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(50vw);
  }
}
